.cartContainer {
  min-height: 82.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding-bottom: 10px;
}
.cartTitle {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  width: 100%;
  padding-left: 130px;
}
.imgCart {
  width: 250px;
}
.itemContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
.itemContainer p {
  font-weight: normal;
}
.textCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textCart button {
  margin-bottom: 5px;
}
.btnDelete {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #ffffff10;
  font-weight: bold !important;
  cursor: pointer;
  transition: 0.1s;
  font-size: 20px;
  margin-bottom: 5px;
}
.btnDelete:hover {
  transition: 0.1s;
  background-color: #ffffff40;
}
