.ItemDetailsContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
.ItemDetailsContainer img {
  width: 350px;
}
.detailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buyPrice {
  font-size:25px;
  font-weight: bold;
  gap: 20px;
  width: 100%;
}
.buttonBuy {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #ffffff10;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  font-size:20px;
}
.buttonBuy:hover {
  transition: 0.1s;
  background-color: #ffffff40;
}
.detailsBigContainer {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  .ItemDetailsContainer {
    flex-direction: column;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .ItemDetailsContainer img {
    width: 100%;
  }
}
