.grayBg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  padding-top: 20px;
  min-height: 50vh;
  text-align: center;
  background-color: #ffffff10;
  font-weight: bold;
}
form{
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.totalCart2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.complete{
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
}
input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #ffffff10;
  font-weight: bold;
  border: 0;
  color: #fff;
  font-family: "Courier Prime", monospace;
}
input:focus{
    outline: none;
}
.nameInputs {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}
.endBuy {
  margin-top: 10px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  background-color: #ffffff10;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  border: 0;
  color: #fff;
  font-family: "Courier Prime", monospace;
  width: 100%;
}
.endBuy:hover{
    transition: 0.1s;
    background-color: #ffffff40;
}
