.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c343c;
}
.linksNav{
  display: flex;
  align-items: center;
  gap: 20px;
}
.linksNav a{
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}