.logoGif {
  width: 300px;
}
.artistPh {
  width: 500px;
  padding-bottom: 7px;
}

.proyect {
    display: flex;
    text-align: justify;
    gap: 20px;
    padding-bottom: 20px;
  }
  .artist {
    display: flex;
    gap: 20px;
    text-align: justify;
  }